<header>
    <div class="container">
        <a class="logo" href="/"><img src="/img/logo-white.png" alt="Petshop DH"></a>
    <nav>
        <ul>
            <li><a href="/servicos">Lista Serviços</a></li>
            <li><a href="/servicos/cadastro">Cadastrar Serviços</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/servico">Serviços</a></li>
            <li><a href="/contatos">Contato</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
        </ul>
    </nav>
    </div>
</header>